// Remove all the bullets from a list.
@mixin list-no-bullets {
    list-style-type: none;
    list-style-image: none;
}

// Remove bullets and whitespace from a list.
@mixin list-plain {
    @include list-no-bullets;
    margin: 0;
    padding: 0;
}

// Make all list items in a list appear on the same line, inline.
@mixin list-inline {
    @include list-plain;
    display: inline;
    li {
        display: inline;
    }
}

// Make all list items in a list appear on the same line as floated block
// elements.
//
// $margin controls the amount of whitespace between items
// $dir controls the floating direction.
@mixin list-horizontal($margin: $grid-margin, $dir: 'left') {
    @include list-plain;
    @include clearfix;
    li {
        float: left;
        display: inline;
        margin-#{$dir}: $margin;
    }
}

// Mixin for a defniition list element, to have its terms and definitions
// appear on a single line.
@mixin list-dl-table($width, $margin: $grid-margin) {
    padding-left: $width + $margin;
    dt {
        float: left;
        clear: left;
        display: inline;
        width: $width;
        margin-right: $margin;
        margin-left: -$width - $margin;
    }
}

// Add custom list bullets using background images.
//
// All arguments are delegated to the `text-icon` mixin.
@mixin list-image-bullets($img, $padding: $grid-margin, $x: 0, $y: 0) {
    @include list-no-bullets;
    li {
        @include text-icon($img, $padding, $x, $y);
    }
}
